/* GENERAL */




/* UTILITIES */

.box{
    color: #fff;
    line-height:80px
}

/* Colors */

.bg-head-foot{
    background-color: #3a546d;
}

.bg-tp-hero-about{
    background-color:#1abc9c;
}





