/* GENERAL */

body{
    padding-top:70px;
    /* utilizzo padding per nav-fixed ,consiglio 70px */
    color: #fff;
}




/* UTILITIES */

/* Colors */

.bg-head-foot{
    background-color: #2c3e50;
    /* background header e bottom footer */
}

.bg-tp-hero-about{
    background-color:#1abc9c;
    /* background top hero e about */
}

.bg-tp-foot{
    background-color: #3a546d;
    /* background top footer */
}

.txt-col-green{
    color: #1abc9c;
}

/* Text */

.upper{
    text-transform: uppercase;
}

.capitalize{
    text-transform:capitalize;
}


/* Positions margin e padding */

/* margin */

.mg-rg-xs{
    margin-right: 5px;
}

.mg-bt-sm{
    margin-bottom: 15px;
}

.mg-tp-md{
    margin-top: 20px;
}

/* padding */

.pd-tp-sm{
    padding-top:20px;
}

.pd-bt-sm{
    padding-bottom:20px;
}

.pd-tp-md{
    padding-top:50px;
}

.pd-bt-md{
    padding-bottom: 50px;
}

/* Icons e Divider*/

.star-divider{
    width:30%;
    font-size:35px;
    vertical-align: middle;
}

.divider{
    width: 300px;
    margin: 15px auto;
}

.divider::before{
    content: "";
    display: inline-block;
    width: 30%;
    height: 2px;
    border: 1px solid ;
    background-color:#fff;
}

.divider::after{
    content: "";
    display: inline-block;
    width: 30%;
    height: 2px;
    border: 1px solid;
    background-color:#fff;
}

.divider.blue{
    color: #2c3e50;
    text-align: center;
}

.divider.blue::before{
    background-color:#2c3e50;
}

.divider.blue::after{
    background-color:#2c3e50;

}

.add-icons{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, .8);
    font-size:60px;
}


/* Buttons */

.btn-empty{
    color: #fff;
    background-color: transparent;
    border: 1px solid ;
}



/* HEADER */
.main-header .ta-navbar{
    border: 0;
    background-color: #2c3e50;
}

.main-header .ta-brand{
    /* modifico altezza header e colori testo e altre caratteristiche */
    height: 80px;
    font-size: 24px;
    line-height:80px;
    padding: 0 15px;
    text-transform: uppercase;
    color: #fff;

    /* bisogna ricordare che il padding 
    si somma alla line-height */
}

/* navbar right */

/* faccio modifiche per allinearlo al logo e cambio
alcune caratteristiche */

.main-header .ta-nav-right > li > a{
    line-height: 80px;
    padding: 0 15px;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .3s;
}

/* HERO */

/* Top-Hero */

.top-hero img{
    width: 250px;
}

/* Bottom-hero */

.bt-hero h2,
.contact h2{
    color: black;
}

.bt-hero .stars{
    color: #2c3e50;
}

/* Layover img */

.box-link{
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.box-link:hover .Layover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#154015a1;
}

.box-link:hover i{
    display: block;
}

/* Contact Form */

.contact{
    color:#2c3e50 ;
}

/* Form */

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form textarea{
    height: 15px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

.registration-form textarea{
    height: 80px;
}


/* FOOTER */
















