/* GENERAL */

/* body{
    color: #fff;
} */




/* UTILITIES */

.box{
    line-height:80px
}

.empty-box{
    width: 350px;
    height: 250px;
    background-color: #ccc;
    margin-bottom: 15px;
}

/* Colors */

.bg-head-foot{
    background-color: #3a546d;
    /* background header e bottom footer */
}

.bg-tp-hero-about{
    background-color:#1abc9c;
    /* background top hero e about */
}

.bg-tp-foot{
    background-color: #3a546d;
    /* background top footer */
}

/* RESPONSIVE FOR SMALL DEVICE 768PX IN SU */

@media screen and (min-width: 768px){
    
}






